$contentBackground: #efefef;
$colorText: #fd572f;
$styleText: Arial, Helvetica, sans-serif;
$styleTextSubhead: #617d8a;
$colorArticle: #fff;
$colorP: #617f8a;
$colorDateUnderImg: #bdbdbd;
$colorBorder: #cfd8dc;