$contentBackground: #fff;
$colorText: #1fbcd3;
$styleText: Arial, Helvetica, sans-serif;
$styleTextSubhead: #1697ab;
$colorArticle: #efefef;
$colorP: #617f8a;
$colorDateUnderImg: #159587;
$colorBorder: #617d8a;